.pink-100 {
    color: #111; !important;
    background-color: #FDECF4; !important;
}
.pink-200 {
    color: #111; !important;
    background-color: #F9CFE2; !important;
}
.pink-300 {
    color: #111; !important;
    background-color: #F49FC6; !important;
}
.pink-400 {
    color: #111; !important;
    background-color: #EE6EA9; !important;
}
.pink-500 {
    color: #fff; !important;
    background-color: #E83E8C; !important;
}
.pink-600 {
    color: #fff; !important;
    background-color: #AE2F69; !important;
}
.pink-700 {
    color: #fff; !important;
    background-color: #741F46; !important;
}
.pink-800 {
    color: #fff; !important;
    background-color: #3A1023; !important;
}
.pink-900 {
    color: #fff; !important;
    background-color: #230915; !important;
}